.left_nav_box
  %ul.left_nav
    %li.left_nav_first_li
      %a{:href => root_path}
        %span.glyphicon.glyphicon-dashboard
    %li.left_nav_first_li
      %a.title{:href => "javascript:"}
        %span.glyphicon.glyphicon-user
      %ul.second_nav
        %li
          %a{:href => list_doctor_members_path} 居民列表
        %li
          %a{:href => new_member_path} 居民添加
    %li.left_nav_first_li
      %a.title{:href => "javascript:"}
        %span.glyphicon.glyphicon-folder-close
      %ul.second_nav
        %li
          %a{:href => phy_exam_records_path} 体检档案
        %li
          %a{:href => phy_exam_tpls_path} 体检模版
    %li.left_nav_first_li
      %a.title{:href => "javascript:"}
        %span.glyphicon.glyphicon-list-alt
      %ul.second_nav
        %li
          %a{:href => "#"} 体适能
        %li
          %a{:href => "#"} 中医体质
    %li.left_nav_first_li.back_to_top
      %a.title{:href => "#top_nav"}
        %span.glyphicon.glyphicon-circle-arrow-up