.left_nav_box
  %ul.left_nav
    %li.left_nav_first_li
      %a{:href => "javascript:"}
        %span.glyphicon.glyphicon-dashboard
    %li.left_nav_first_li
      %a.title{:href => "javascript:"}
        %span.glyphicon.glyphicon-user
      %ul.second_nav
        %li
          %a{:href => "#"} 居民列表
        %li
          %a{:href => "#"} 居民添加
    %li.left_nav_first_li
      %a.title{:href => "javascript:"}
        %span.glyphicon.glyphicon-folder-close
      %ul.second_nav
        %li
          %a{:href => "#"} 基础档案
        %li
          %a{:href => "#"} 居家档案
    %li.left_nav_first_li
      %a.title{:href => "javascript:"}
        %span.glyphicon.glyphicon-list-alt
      %ul.second_nav
        %li
          %a{:href => "#"} 暂无
    %li.left_nav_first_li.back_to_top
      %a.title{:href => "#top_nav"}
        %span.glyphicon.glyphicon-circle-arrow-up