#choose_doctor_modal.modal.fade.in{:role => "dialog", :tabindex => "-1","aria-hidden"=>"true"}
  / .modal-backdrop.fade.in
  .accordian
    %ul
      - Doctor.all.each do |d|
        %li
          .image_title
            .doctor_base
              =d.name+"(#{d.sex})"+d.tel
              = link_to "结交", 'javascript:void(0)', :class =>"btn btn-success bundling_doctor #{can_bundling_doctor?(d.id)}", :data => {:doctor_id=>d.id }
          .doctor_information_box
            %img{:src=>"#{d.avatar_url}"}
            %p="简介："+d.introduce
