#myModal_destroy_multiple.modal.fade{"aria-labelledby" => "modal-switch-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        #modal-switch-label.modal-title{:style => "color:#2fa857;font-size:25px;"} 添加体检模版
      .modal-body
        