// 编辑页面
.edit_user_big_box{width: 80%;margin: auto;margin-top:70px;min-width: 960px;overflow: hidden;}
.edit_user_pic{width: 35%;float: left;margin-right: 5%;height: 300px;}
.edit_user_pic img{width: 100%;}
.edit_user_pic h2{color: #2fa857;text-align: center;}
.edit_user_form{width: 60%;float: left;min-width: 300px;}
.form_button{width: 100%;}
// 注册modal
.create_user_box{width: 80px;height: 80px;border-radius: 40px;background: #2FAD90;margin: 0px;float: left;top: 20px;position: relative;}
.create_user_box a{color: white;font-size: 28px;display: block;padding: 22px 2px;}
.Tab_content_form_box{margin-top: 15px;}
// 主页
#member_box_2{background: rgb(141, 205, 159);}
#member_box_3{background: #AED0CE;}
#member_box_4{background: #678098;}
#member_box_5{background: #81998D;}
#member_box_6{background: rgb(218, 203, 165);}
#member_box_7{background: #4F4731;}
.member_main_content{width: 80%;margin: auto;min-width: 960px;overflow: hidden;padding-top: 170px;}
.member_pic{width: 35%;float: left;margin-right: 5%;height: 300px;}
.member_pic img{width: 100%;}
.member_pic h2{color: #2fa857;text-align: center;}
.member_chart_box{width: 60%;float: left;min-width: 300px;}
// 主页表格
.member_chart_box .chart_arrow{}
.chart_left_arrow{width:10%;float: left;padding-top: 20%; }
.chart_left_arrow img{width:100%;}
.chart_right_arrow{width:10%;float: left;padding-top: 20%;}
.chart_right_arrow img{width:100%;}
.chart_chart{width:75%;margin-left: 2%;margin-right: 2%;float: left;}

// 临时
.member_chart_box img{width: 100%;}

// 侧边导航
#sidenav{width: auto;height: 300px;position: fixed;z-index: 950;right: 10px;margin-top: -76px;top: 45%;}
#sidenav .indicator{background: url(/assets/side_nav.png) no-repeat;width: 18px;height: 40px;right: 0;cursor: pointer;display: block;margin-top: 5px;}
#sidenav .current{background: url(/assets/side_nav_next.png) no-repeat;width: 20px;height: 40px;right: 0;}
#sidenav li a{display: block;padding: 4px 6px 0px 6px;color: rgb(44, 54, 48);}

.communicate_doc_member{background: rgba(206, 249, 222, 0.4);padding: 15px;height: 500px;margin-top: -60px;}
.communicate_doc_member textarea{height: 76px;}
.communicate_doc_inf{padding-bottom: 5px;border-bottom: 1px solid rgb(130, 122, 119);height: 45px;}
.communicate_doc_inf img{width: 40px;height: 40px;}
.communicate_doc_member #communicate_doc_content{height: 70%;overflow-y:scroll;}
.communicate_doc_member ul li {padding: 2px;}
.communicate_doc_member ul li i{border: 1px solid rgb(197, 184, 184);padding: 3px;border-radius: 3px;}
.communicate_doc_member ul li span{font-size: 10px;color: gray;}
.communicate_doc_member .input-group{padding-top: 15px;border-top: 1px solid rgb(130, 122, 119)}
.communicate_doc_member .communicate_send_btn{padding: 15px 10px;font-size: 30px;}
// 社区医生主页面
.member_chart_box .person_info_box .row{color: white;font-size: 20px;}
.member_chart_box .person_info_box .row p:first-letter{font-size: 30px;color: #2fa857;}
.member_chart_box .console_row_box a{color: white;display: block;}
.member_chart_box .console_row_box a:hover{box-shadow: 0 0 20px rgba(110, 40, 37, 1);position: relative;}
.member_chart_box .console_row_box .console_col{width: 33.33333%;float: left;}
.member_chart_box .console_member_box {background-color: rgb(141, 205, 159);padding: 5px;}
.member_chart_box .console_phy_box {background-color: #AED0CE;padding: 5px;}
.member_chart_box .console_house_box {background-color: #678098;padding: 5px;}
.member_chart_box .console_tishineng_box {background-color: #81998D;padding: 5px;}
.member_chart_box .console_zhongyi_box {background-color: rgb(218, 203, 165);padding: 5px;}
.member_chart_box .console_msg_box {background-color: #4F4731;padding: 5px;}
.member_chart_box .console_row_box .name{font-size: 20px;}
.member_chart_box .console_row_box .type{font-size: 20px;text-align: right;}
.member_chart_box .console_row_box .num{font-size: 40px;text-align: center;}
.list_add_button {height: 157px;}
// 体检模版页面
.member_chart_box .console_row_box .console_col_list{width: 25%;float: left;}
.console_box_0{background-color: rgb(141, 205, 159);padding: 5px;}
.console_box_1{background-color: #AED0CE;padding: 5px;}
.console_box_2{background-color: #678098;padding: 5px;}
.console_box_3{background-color: #81998D;padding: 5px;}
.console_box_4{background-color: rgb(218, 203, 165);padding: 5px;}
.console_box_5{background-color: #4F4731;padding: 5px;}
.console_box_6{background-color: #CD8BC0;padding: 5px;}
.console_box_7{background-color: #0C2F15;padding: 5px;}
.member_chart_box .console_row_box .phy_agency{font-size: 15px;}
.member_chart_box .console_row_box .phy_date{font-size: 10px;text-align: right;}
.member_chart_box .console_row_box .phy_name{font-size: 20px;text-align: center;min-height: 80px;max-height: 80px;}

// 用户列表
.member_chart_box .console_row_box .member_name{font-size: 15px;}
.member_chart_box .console_row_box .member_name span{font-size: 10px;}
.member_chart_box .console_row_box .member_info{font-size: 15px;min-height: 105px;max-height: 105px;}

