.left_nav_box{width:45px;position: fixed;height: 100%;top:0px;right: 0px;min-height: 600px;background-color: rgb(40, 127, 68);}
.mian_content{min-width:600px;width:100%;padding-right:45px;overflow: hidden;}

.left_nav{margin-top: 60px;}
.left_nav_first_li ul li a{padding-left: 10px;}
.back_to_top{margin-top: 300px;}
.left_nav_first_li a:hover{background-color: #53BE76;}
.left_nav li{display: list-item;}

.second_nav{position: absolute;width: 100px;right: 45px;z-index: 1180;text-align: center;}
.second_nav li{background: linear-gradient(90deg,#287f44,rgb(203, 245, 219))}

a:hover{text-decoration: none;}

.left_nav a{display: block;position: relative;padding: 8px 0 8px 15px;color: white;font-size: 18px;}

// 标题栏
#top_nav{min-width:960px; width: 100%;color: #2fa857;padding: 0 45px 0 10px;}
#top_nav a{color: #2fa857;}
#top_nav ul li{float: left;padding: 15px;display: block;}
.header_user{float: right;}
.header_user ul li:first-child{padding: 10px !important;}
.header_user ul li:first-child img {width: 30px;height: 30px;border: 1px solid;padding: 1px;}
.header_title{float: left;margin-left: 45px;}
.header_title ul li:first-child{padding: 0px !important;}
.header_title ul li:first-child img{width: 80px;height: 55px;}
// 低栏
.flooter{background-color: #555;color: white;min-width:960px; padding-right: 45px;}
// 二级菜单悬浮动画效果
.second_nav li:hover{
	animation:second_nav_hover 0.3s linear 0s infinite alternate;
	-moz-animation:second_nav_hover 0.3s linear 0s infinite alternate;/* Firefox */
	-webkit-animation:second_nav_hover 0.3s linear 0s infinite alternate; /* Safari and Chrome */
	-o-animation:second_nav_hover 0.3s linear 0s infinite alternate; /* Opera */
}
@keyframes second_nav_hover
{
	0%   {transform:rotate(-3deg)}
	50%  {transform:rotate(0deg)}
	100% {transform:rotate(3deg)}
}
@-moz-keyframes second_nav_hover /* Firefox */
{
	0%   {transform:rotate(-3deg)}
	50%  {transform:rotate(0deg)}
	100% {transform:rotate(3deg)}
}
@-webkit-keyframes second_nav_hover /* Safari and Chrome */
{
	0%   {transform:rotate(-3deg)}
	50%  {transform:rotate(0deg)}
	100% {transform:rotate(3deg)}
}
@-o-keyframes second_nav_hover /* Opera */
{
	0%   {transform:rotate(-3deg)}
	50%  {transform:rotate(0deg)}
	100% {transform:rotate(3deg)}
}